// CONTAINERS 


// base

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


hr {
	border: 0;
	height: 1px;
	background: $hr-color;
	margin: 2rem 0 4rem 0;
}

body>header,
main {
    @include outer-container;
    @include breakpoint(medium) {
        padding: 1em;
    }
    @include breakpoint(small) {
        padding: 1em;
    }
    @include breakpoint(tiny) {
        padding: .5em;
    }
}

// sidebar
aside[role='complementary'] {
  // @include span-columns(6);
  // @@include omega();
  @include breakpoint(medium) {
        @include span-columns(16);
  }
  @include breakpoint(large) {
      @include span-columns(6);
  }
}

// main
section[role='main'] {
  // @include span-columns(10);
  padding-bottom: 60px; 
  @include breakpoint(medium) {
        @include span-columns(16);
  }
  @include breakpoint(large) {
      @include span-columns(10);
  }
}


