// CONTAINERS 


// base

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


hr {
	border: 0;
	height: 1px;
	background: $hr-color;
	margin: 2rem 0 4rem 0;
}

body>header,
main,
#collaboration,
footer {
    @include outer-container;
    @include breakpoint(medium) {
      padding: 1em;
    }
    @include breakpoint(small) {
      padding: 1em;
    }
    @include breakpoint(tiny) {
      padding: .5em;
    }
}

main {
  section {
    @include span-columns(10);
  }
  aside {
    @include span-columns(6);
  }
  @include media($mobile) {
    section,
    aside {
      @include span-columns(16);
    }
  }
}

section#collaboration {
  h3 {
    margin-top: 0;
  }
}

footer {
  background: $gray6; 
}




