// HEADER

body>header {
    border-bottom: 1px solid $hr-color;
    h1#logo {
    	margin-top: 0;
		@include breakpoint(medium) {
			@include span-columns(16);
			margin-bottom: 0;
		}
		@include breakpoint(large) {
			@include span-columns(6);
		}
	    // margin-top: .5em;
    }
    h3#tagline {
		@include breakpoint(medium) {
			@include span-columns(16);
			margin-top: 0;
		}
		@include breakpoint(large) {
			@include span-columns(10);
			@include omega();
			margin-top: .25em;
		}
		font-size: 2rem;
    }
	#language-links {
		@include breakpoint(medium) {
			@include span-columns(4);
			@include shift(12);
			@include omega();
			margin-top: 0;
		}
		@include breakpoint(large) {
			@include span-columns(3);
			@include shift(13);
			@include omega();
		}
	}
}
